
  <div class="relative overflow-hidden bg-no-repeat bg-cover" style="
  background-position: 100%;
  background-image: url('https://images.pexels.com/photos/1173987/pexels-photo-1173987.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1');
  height: 850px;
">
  <div class="absolute top-0 right-0 bottom-0 left-0 w-full h-full overflow-hidden bg-fixed">
    <div class="flex justify-center items-center h-full">
      <div class="w-50 h-72 rounded-lg bg-white bg-opacity-20 backdrop-blur-lg  drop-shadow-lg">
        <input [(ngModel)]="toshow" type="text" class="mt-8 mb-2 mx-10 px-6 rounded-lg text-white bg-white bg-opacity-20 backdrop-blur-lg ">
        <!--num-->
      <div class="text-center grid grid-cols-4 gap-4 text-white px-4   md:px-12">
      <button (click)="writetoinput('9')"class="hover:opacity-40 hover:bg-pink-400 rounded-lg text-white transition duration-300 ease-in-out ">9</button>
      <button (click)="writetoinput('8')"class="hover:opacity-40 hover:bg-pink-400 rounded-lg text-white transition duration-300 ease-in-out ">8</button>
      <button (click)="writetoinput('7')"class="hover:opacity-40 hover:bg-pink-400 rounded-lg text-white transition duration-300 ease-in-out ">7</button>
      <button (click)="writetoinput('6')"class="hover:opacity-40 hover:bg-pink-400 rounded-lg text-white transition duration-300 ease-in-out ">6</button>
      <button (click)="writetoinput('5')"class="hover:opacity-40 hover:bg-pink-400 rounded-lg text-white transition duration-300 ease-in-out ">5</button>
      <button (click)="writetoinput('4')"class="hover:opacity-40 hover:bg-pink-400 rounded-lg text-white transition duration-300 ease-in-out ">4</button>
      <button (click)="writetoinput('3')"class="hover:opacity-40 hover:bg-pink-400 rounded-lg text-white transition duration-300 ease-in-out ">3</button>
      <button (click)="writetoinput('2')"class="hover:opacity-40 hover:bg-pink-400 rounded-lg text-white transition duration-300 ease-in-out ">2</button>
      <button (click)="writetoinput('1')"class="hover:opacity-40 hover:bg-pink-400 rounded-lg text-white transition duration-300 ease-in-out ">1</button>
      <button (click)="writetoinput('0')"class="hover:opacity-40 hover:bg-pink-400 rounded-lg text-white transition duration-300 ease-in-out ">0</button>
      <button (click)="writetoinput('.')"class="hover:opacity-40 hover:bg-pink-400 rounded-lg text-white transition duration-300 ease-in-out ">.</button>
      <button (click)="back()"class="hover:opacity-40 hover:bg-pink-400 rounded-lg text-white transition duration-300 ease-in-out ">back</button>
      </div>
      <!--sign-->
        <div class="text-center grid grid-cols-4 gap-4 mx-4 px-4 my-2 rounded-lg text-white py-2 bg-opacity-20 backdrop-blur-lg ">
        <button (click)="writetoinput('+')"class="hover:opacity-10  rounded-lg  transition duration-300 ease-in-out " >+</button>
        <button (click)="writetoinput('-')"class="hover:opacity-10 rounded-lg  transition duration-300 ease-in-out ">-</button>
        <button (click)="writetoinput('*')"class="hover:opacity-10 rounded-lg  transition duration-300 ease-in-out ">*</button>
        <button (click)="writetoinput('%')"class="hover:opacity-10 rounded-lg  transition duration-300 ease-in-out ">%</button>
      </div>
      <!--clear-->
      <div class="text-center grid grid-cols-2 gap-4 mx-4 my-2 px-4 rounded-lg text-white py-2 bg-opacity-20 backdrop-blur-lg ">
        <button id="clear" (click)="clear()" class="hover:opacity-10 rounded-lg  transition duration-300 ease-in-out ">C</button>
        <button id="equals"(click)="equals()"class="hover:opacity-10 rounded-lg  transition duration-300 ease-in-out ">=</button>
      </div>
    </div>
    </div>
  </div>
</div>